<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if not SEARCHING %}
        <title>Page {{ PAGE_NUM }} - {{ TITLE }} - Warehouse Wizard</title>
    {% else %}
        <title>Searching "{{ PROMPT }}" - {{ TITLE }} - Warehouse Wizard</title>
    {% endif %}

    <!-- Import Spectre.CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='spectre.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='spectre-exp.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='spectre-icons.min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicons/favicon.ico') }}">
</head>
<body>

    <!-- Header Section -->
    <header class="navbar" style="padding: 4px;">
      <section class="navbar-section">
      </section>
      <section class="navbar-center" style="display: flex; align-items: center;">
          <h4 style="margin: 0;">
            {% if not SEARCHING %}
                {{ TITLE }}
            {% else %}
                Showing results for <b>"{{ PROMPT }}"</b>
            {% endif %}
          </h4>
        </section>

      <section class="navbar-section">
        <form method="POST">
          <div class="input-group input-inline">
            <input class="form-input" type="text" name="query" required placeholder="Search here...">
            <button class="btn btn-primary input-group-btn" type="submit">Search</button>
          </div>
        </form>
        <p>  </p>
        <form action="{{ url_for('logout') }}" method="get">
            <button class="btn btn-primary" type="submit">Logout</button>
        </form>
        <p> </p>
      </section>
    </header>


    <!-- Main Content Section -->
    <main style="display: flex; justify-content: center; align-items: center; flex-direction: column;">

        {% if not SEARCHING %}
            <div>
                {% if PAGE_NUM > 1 %}
                    <a href="{{ url_for('browse', page=PAGE_NUM-1) }}">Last Page</a>
                {% else %}
                    <span style="color: rgb(22, 22, 22);">Last Page</span>
                {% endif %}
                -
                {% if PAGE_NUM < TOTAL_PAGES %}
                    <a href="{{ url_for('browse', page=PAGE_NUM+1) }}">Next Page</a>
                {% else %}
                    <span style="color: rgb(22, 22, 22);">Next Page</span>
                {% endif %}
            </div>

            <p>Page {{ PAGE }} / {{ TOTAL_PAGES }}</p>
        {% else %}
            <div>
                <a href="javascript:history.back()"><p>Return<p></a>
            </div>
        {% endif %}

        <div style="max-width: 1000px; width: 100%;">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Added At</th>
                        <th>Checked Out By</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in DISPLAY_INVENTORY %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td class="tooltip" data-tooltip="{{ item.name }}">{{item.name}}</td>
                            <td class="tooltip" data-tooltip="{{ item.description }}">{{item.description}}</td>
                            <td>{{item.created_at}}</td>
                            <td class="tooltip" data-tooltip="{{ item.user_id }}"{{item.user_id}}</td>
                            <td><a href="" style="text-decoration: none;">Checkout</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <br>
        <p>© {{ CURRENT_YEAR }} <a href="https://github.com/Qwirdle" target="_blank" rel="noopener noreferrer">Qwirdle</a>. Licensed under the MIT License.</p>
    </main>

</body>
</html>
