<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- URL changes if searching/browsing -->
    {% if not SEARCHING %}
        <title>Page {{ PAGE_NUM }} - {{ TITLE }} - Warehouse Wizard</title>
    {% else %}
        <title>Searching "{{ PROMPT }}" - {{ TITLE }} - Warehouse Wizard</title>
    {% endif %}

    <!-- Import Barebones CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='barebones.css') }}">

    <!-- Import font edits -->
    <link rel="stylesheet" href="{{ url_for('static', filename='font-handling.css') }}">
</head>
<body>


    <main style="display: flex; justify-content: center; align-items: center; display: flex; flex-direction: column;">
        <h2>Browse Items</h2>

        <br>

        <form method="POST" style="display: flex; flex-direction: column; align-items: center;">
          <input id="username" type="text" name="query" required style="max-width: 300px; width: 100%;" placeholder="Search here...">

          <button type="submit" style="max-width: 300px; width: 100%; display: hidden;">Search</button>
        </form>

        {% if not SEARCHING %}
            <div>
            {% if PAGE_NUM > 1 %}
                <a href="{{ url_for('browse', page=PAGE_NUM-1) }}">Last Page</a>
            {% else %}
                <span style="color: rgb(22, 22, 22);">Last Page</span>
            {% endif %}
            -
            {% if PAGE_NUM < TOTAL_PAGES %}
                <a href="{{ url_for('browse', page=PAGE_NUM+1) }}">Next Page</a>
            {% else %}
                <span style="color: rgb(22, 22, 22);">Next Page</span>
            {% endif %}
            </div>

            <p>Page {{ PAGE }} / {{ TOTAL_PAGES }}</p>
        {% else %}
            <div>
                <a href="{{ url_for('browse', page=1) }}">Return</a>
            </div>

            <p>Showing results for <b>"{{ PROMPT }}"</b></p>
        {% endif %}


        <div style="max-width: 1000px; width: 100%;">
            <table class="u-full-width">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Added At</th>
                    <th>Checked Out By</th>
                </tr>
            </thead>
            <tbody>
                {% for item in DISPLAY_INVENTORY %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td title="{{item.description}}" class="has-title">{{item.description}}</td>
                        <td>{{item.created_at}}</td>
                        <td title="{{item.user_id}}" class="has-title">{{item.user_id}}</td>
                    </tr>
                {% endfor %}
            </tbody>


            </table>
        </div>

        <br>

        <p>Developed by <a href="https://github.com/Qwirdle" target="_blank" rel="noopener noreferrer">Qwirdle</a></p>
    </main>

</table>
</body>
</html>